* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

/* nav section */
nav {
  display: flex;
  align-items: center;
  padding: 1em;
  color: #090909;
}

.logo-text {
  font-family: 'Roboto', sans-serif;
  color: #0E0E0E;
  margin-left: 0.5em;
}

.menu-items {
  list-style: none;
  display: flex;
  margin-left: auto;
  gap: 1em;
}

.menu-items li {
  cursor: pointer;
}

.menu-items li:hover {
  transform: scale(1.1);
}

/* main section */
.hero {
  background: url('./images/hero-img.png');
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-date {
  margin-top: 5em;
  font-size: 0.75rem;
}

.hero-title {
  font-size: 2rem;
}

  /* about page */
.about {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5em;
}

.about-content p {
  margin: 1.5em 0;
}

.headshot-img {
  width: 182px;
}

.posts-header {
  font-weight: 700;
  margin-top: 2em;
  text-align: center;
}

/* blog page */
.blog-post {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.blog-title {
  font-size: 2rem;
  margin: 0.5em 0;
}

.blog-img {
  padding: 2em 0;
  object-fit: cover;
  width: 100%;
  max-height: 480px;
}

/* cards section */
.cards-grid {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.card {
  margin-bottom: 1.5em;
  padding: 1em;
}

/* only display 3 cards on small screens */
.bigScreenCards {
  display: none;
}

.card-img {
  width: 100%;
  cursor: pointer;
}

.card-img:hover {
  scale: 1.05
}

.date {
  font-size: 0.75rem;
  margin-top: 0.5em;
}

.card-title {
  font-size: 1.5rem;
  padding: 0.5em 0;
}

.card-description {
  font-size: 1rem;
  color: #505050;
}

/* footer section */
footer {
  background: #202020;
  color: #ECECEC;
  text-align: center;
  padding: 1.5em 0;
}

footer h4 {
  font-size: 0.75rem;
  font-weight: 700;
}

footer p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #D7D7D7;
}

/* wide screens */
@media(min-width: 768px) {
  nav {
    padding: 1.5em;
  }

  .hero {
    height: 35vh;
  }

  .hero-title,
  .hero-body {
    max-width: 650px;
  }

  .hero-description,
  .hero-date {
    line-height: 1.5;
    font-size: 1rem;
  }

  .hero-title {
    font-size: 2.25rem;
  }
 
  .cards-grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
  }

  .card {
    max-width: 28vw;
  }

  .bigScreenCards {
    display: block;
  }

  .about-intro {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

  .about {
    padding: 2.5em;
  }

  .intro-text {
  max-width: 60vw;
} 

  .posts-header {
    font-size: 1.5rem;
  }


}